{
    "presets": [
        "env",
        "stage-2",
        "react"
    ],
    "env": {
        "production": {
            "comments": false,
            "presets": [
                "react-optimize"
            ],
            "plugins": [
                "lodash"
            ]
        },
        "development": {
            "sourceMaps": "inline"
        }
    }
}
