# IDE data
/.idea/

# Allowed IDE data
!/.idea/encodings.xml

# NodeJS/npm
/node_modules/

# Yarn
/yarn.lock
/yarn-error.log

# Build folder
/dist/
/gen/
/release/

# Compiled with Babel
/electron.js
/src/apis/*.js
