.code {
    font-family: Source Code Pro, Ubuntu Mono, monospace;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 20px;
    padding: 40px;
    color: #c7c7c7;
}

.prizeIcon {
    width: 120px;
    height: 120px;
    float: right;
    position: relative;
    bottom: 69px;
    left: 39px;
}
